body {
  font-size:  2rem;
  width: auto;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template:
  "... ...... ...... ...... ..." 0px
  "... header header header ..." 72px
  "... slider slider slider ..." 288px
  "... spnavi spnavi spnavi ..."
  "... navi01 navi02 navi03 ..."
  "... navi04 navi05 navi06 ..."
  "... center center center ..." 1fr
  "... ctr    ctr    ctr    ..." 300px
  "... footer footer footer ..." 
  "... ...... ...... ...... ..." 0px
  /0 1fr 1fr 1fr 0;
}
header {
  grid-area: header;
}
hero {
  grid-area: slider;
}
spnavi {
  grid-area: spnavi;
}
navi01 {
  grid-area: navi01;
  border-right: 1px solid #887569;
  border-bottom: 1px solid #887569;
}
navi02 {
  grid-area: navi02;
  border-right: 1px solid #887569;
  border-bottom: 1px solid #887569;
}
navi03 {
  grid-area: navi03;
  border-bottom: 1px solid #887569;
}
navi04 {
  grid-area: navi04;
  border-right: 1px solid #887569;
  border-bottom: 1px solid #887569;
}
navi05 {
  grid-area: navi05;
  border-right: 1px solid #887569;
  border-bottom: 1px solid #887569;
}
navi06 {
  grid-area: navi06;
  border-bottom: 1px solid #887569;
}
main {
  grid-area: center;
}
ctr {
  grid-area: ctr;
}
footer {
  grid-area: footer;
  background-color: #dfdad6;
}

.spmenu {
  margin: 16px;
}
/*div要素全体にリンクをつけるために必要な要素*/
.linkbox {
    position: relative;
}
.linkbox a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}
