body {
  font-size:  2rem;
  width: auto;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template:
  "... ...... ...... ...... ..." 0px
  "... header header header ..." 80px
  "... ...... ...... ...... ..." 10px
  "... center center center ..." 1fr
  "... ...... ...... ...... ..." 10px
  "... footer footer footer ..." 300px
  "... ...... ...... ...... ..."
  /0 auto auto auto 0;
}
header {
  grid-area: header;
}
main {
  grid-area: center;
}
footer {
  grid-area: footer;
}
