body {
  font-size:  2rem;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template:
  "... ...... ...... ...... ..." 0px
  "... header header header ..." 72px
  "... slider slider slider ..." 288px
  "... spnavi spnavi spnavi ..."
  "... navi01 navi02 navi03 ..."
  "... navi04 navi05 navi06 ..."
  "... center center center ..." 1fr
  "... ctr    ctr    ctr    ..." 300px
  "... footer footer footer ..."
  "... ...... ...... ...... ..." 0px
  /0 1fr 1fr 1fr 0;
}
header {
  grid-area: header;
  overflow: hidden;
}
hero {
  grid-area: slider;
  overflow: hidden;
}
spnavi {
  grid-area: spnavi;
  overflow: hidden;
}
navi01 {
  grid-area: navi01;
  border-right: 1px solid #887569;
  border-bottom: 1px solid #887569;
  overflow: hidden;
}
navi02 {
  grid-area: navi02;
  border-right: 1px solid #887569;
  border-bottom: 1px solid #887569;
  overflow: hidden;
}
navi03 {
  grid-area: navi03;
  border-bottom: 1px solid #887569;
  overflow: hidden;
}
navi04 {
  grid-area: navi04;
  border-right: 1px solid #887569;
  border-bottom: 1px solid #887569;
  overflow: hidden;
}
navi05 {
  grid-area: navi05;
  border-right: 1px solid #887569;
  border-bottom: 1px solid #887569;
  overflow: hidden;
}
navi06 {
  grid-area: navi06;
  border-bottom: 1px solid #887569;
  overflow: hidden;
}
main {
  grid-area: center;
  overflow: hidden;
}
ctr {
  grid-area: ctr;
  overflow: hidden;
}
footer {
  grid-area: footer;
  background-color: #dfdad6;
  overflow: hidden;
}

.top288 {
  margin-top: -288px;
}

.top188 {
  margin-top: -188px;
}
.mincho {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-feature-settings: "palt" 1;
  font-weight: 600;
}
.spmenu {
  margin: 16px;
}
.font95 {
  font-size: 95%;
}
/*div要素全体にリンクをつけるために必要な要素*/
.linkbox {
    position: relative;
}
.linkbox a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}
